<!-- Brayan Elgueta
 Kevin Oviedo
 Ignacio Rodriguez -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vacunas </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>

<div class="container">
 {% for vacuna in vacunas %}
  <b><center><h1>Vacunas de {{ vacuna['nombre_enfermedad'] }}</h1></center></b>
 {% endfor %}
  <div class="opciones">
        <a href="../vacunas" class="btn btn-danger">Volver</a>
  </div>
  <br>
  
      <table class="table table-hover" id="myTable">
        <thead>
          <tr>
            <th>Nombre paciente</th>
            <th>Fecha vacunación</th>
            
          </tr>
        </thead>
        <tbody>
          {% for paciente in vpac %}
            <tr>
              <td>{{ paciente['nombre'] }}</td>
              <td>{{ paciente['fecha_vacunacion'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
     </table>
  </div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });

  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
</html>

<style >
  
html{
    font-size: 62.5% /** RESET PARA REMS - 62.5% = 10px de 16px **/
}

.fw-300{
    font-weight: 300;
}

.contenedor {
    max-width: 120rem; /** =1200px **/
    margin: 0 auto;
}

.centrar-texto{
    text-align: center;
    text-transform: uppercase;
}

.opciones{
  display: flex!important;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
  
</style>