<!-- Brayan Elgueta
 Kevin Oviedo
 Ignacio Rodriguez -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pacientes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div class="container">
  <b> <center><h1>Pacientes</h1></center> </b>

    <div class="opciones">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Nuevo</button>
        <a href="vacunas" class="btn btn-danger">Vacunas</a>
      
    </div>
    <br>
    <br>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Regitrar paciente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <form action="{{ url_for('pacienteNuevo')}}" method="POST"><!--modal registro de paciente-->

            <div class="form-group">
              <label for="rut" class="col-form-label">Rut:</label>
              <input type="text" class="form-control" id="rut" name="rut">
            </div>

            <div class="form-group">
              <label for="nombre" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="nombre" name="nombre"></input>
            </div>

            <div class="form-group">
              <label for="fecha_nacimiento" class="col-form-label">Fecha nacimiento:</label>
              <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"></input>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Registrar</button>

            </div>
  
          </form>

        </div><!--modal-body-->
        
      </div><!--modal content-->
    </div>
  </div>

  <table class="table table-hover cell-border" id="myTable">
    <thead>
      <tr>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Fecha nacimiento</th>
        <th>Vacunas</th>
      </tr>
    </thead>
    <tbody>
      {% for paciente in pacients %}
        <tr>
          <td>{{ paciente['rut'] }}</td>
          <td>{{ paciente['nombre'] }}</td>
          <td>{{ paciente['fecha_nacimiento'] }}</td>
          <td>
            <a href="mostrarDatos/{{paciente.rut}}" class="btn btn-danger"> Agregar</a>
            <a href="vacunasPaciente/{{paciente.rut}}" class="btn btn-danger"> Ver</a>
          </td>
          
          
        </tr>
      {% endfor %}
    </tbody>
  </table>


</div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });

  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
</html>


<style >
  
html{
    font-size: 62.5% /** RESET PARA REMS - 62.5% = 10px de 16px **/
}

.fw-300{
    font-weight: 300;
}

.contenedor {
    max-width: 120rem; /** =1200px **/
    margin: 0 auto;
}

.centrar-texto{
    text-align: center;
    text-transform: uppercase;
}

.opciones{
  display: flex!important;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

</style>