<!-- Brayan Elgueta
 Kevin Oviedo
 Ignacio Rodriguez -->

{% extends 'layout.html' %}

{% block body %}

<div class="contenedor">
 {% for vacuna in vacunas %}
  <b><center><h1>Vacunas de {{ vacuna['nombre_enfermedad'] }}</h1></center></b>
 {% endfor %}
  <div class="opciones">
        <a href="../vacunas" class="btn btn-danger">Volver</a>
  </div>
  <br>
  
      <table class="table table-hover" id="myTable">
        <thead>
          <tr>
            <th>Nombre paciente</th>
            <th>Fecha vacunación</th>
            
          </tr>
        </thead>
        <tbody>
          {% for paciente in vpac %}
            <tr>
              <td>{{ paciente['nombre'] }}</td>
              <td>{{ paciente['fecha_vacunacion'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
     </table>
  </div>
{% endblock %}