<!-- Brayan Elgueta
 Kevin Oviedo
 Ignacio Rodriguez -->

{% extends 'layout.html' %}

{% block body %}

<div class="contenedor">
 
    <div class="formulario">
    
   {% for paciente in patiens %}
    <b><center><h1>Vacunar a {{ paciente['nombre'] }}</h1></center></b>
   {% endfor %}
    <div class="opciones">
          <a href="../pacientes" class="btn btn-danger">Volver</a>
    </div>
    <br>
       {% for paciente in patiens %}
    <form action="/vacunar/{{ paciente['rut'] }}" method="POST">
   
        <label for="rut" class="col-form-label">Rut:</label>
        <input disabled type="text" class="form-control" name="rut" value="{{ paciente['rut'] }}">
        
        <br>

        <label for="nombre" class="col-form-label">Nombre:</label>
        <input disabled type="text" class="form-control" name="nombre" value="{{ paciente['nombre'] }}"></input>

        <br>

        <label for="nombre" class="col-form-label">Fecha de nacimiento:</label>
        <input disabled type="text" class="form-control" name="fecha_nacimiento" value="{{ paciente['fecha_nacimiento'] }}"></input>

        <br>
      {% endfor %} 
      
        <label class="col-form-label">Enfermedad</label>
        <select name="nombre_enfermedad" class="form-control" >
          <option value="0" disabled selected>Seleccione</option>
          {% for vacuna in vacunss %}
          <option value="{{ vacuna['cod_vacuna']}}">{{ vacuna['nombre_enfermedad']}}</option>
          {% endfor %}

        </select>

        <br>

        <button type="submit" name="enviar" class="btn btn-success">Agregar</button>
    </form>
  </div>
</div>
{% endblock %}